<div class="container">
   <div class="row">
     <div class="col">
  <img src="{{ image_url }}" alt="{{ name }}">
  <a href="/beers/{{ id }}">{{  name }}</a> 
  <p class="description">{{ description }}</p>
  <p class="tagline">{{ tagline }}</p>
    </div>
  </div>
</div>
