<div class="container">
   <div class="row">
     <div class="col">
  <img src="{{ image_url }}" alt="{{ name }}">
  <h3 class="name">{{ name }}</h3>
  <p class="description">{{ description }}</p>
  <p class="tagline">{{ tagline }}</p>
    </div>
  </div>
</div>
